/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body{
    padding: 50px 0 20px 0;
    background-color: #EEE;
    background-image: url("media/images/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.section-header{
    background-color: rgba(0,0,0,0.9);
    padding: 8px 0 24px 24px;  
}


.section-heading{
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.section-description {
    color: #eee;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.no-border{
    border: none;
}

.forum-logo {
    border-radius: 3px;
    float:left;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border: 1px solid #555;
}


#forum-index-content{
    padding-bottom: 60px;
    background-color: white;
}

#forum-index-table td {
    background-color: rgba(255, 255, 255, 0.9);
}

#forum-index-table tr:hover {
    background-color: rgba(0, 116, 238, 1);
}

.forum-subtitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}


.is-admin {
    display: inline-block;
    padding: 3px;
    background-color: #FFEB3B;
    color: black;
    font-family: 'Roboto Mono';
}

.smaller {
    font-size: 0.8em;
}
