<div class="container body-content">
    <div class="row section-header">
        <div class="section-heading">Browse Forums</div>
        <div class="section-description">
            <p>Welcome to Forum. Posts are broadly categorized into separate forums by programming language or area of interest.</p>
            <p *ngIf="!currentUser">
                <span>You must be a <a routerLink="registration">registered member</a> to create a new post.</span>
            </p>
        </div>
    </div>
    <div class="row" id="forum-index-content">
        <table class="table table-hover" id="forum-index-table">
            <tbody>
                    <tr *ngFor="let topic of topics">
                        <td>
                            <img class="forum-logo" [src]="topic.imagePath">
                            <div class="forum-data">
                                <div class="forum-title">
                                    <a routerLink="/">{{topic.title}}</a>
                                </div>
                            </div>
                          </td>
                          <td>
                            <div class="forum-post-count">
                                {{topic.numberOfThreads}} Posts
                            </div>
                          </td>
                          <td>
                            <div class="forum-description">
                                {{topic.description}}
                            </div>
                          </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>