<div class="container body-content">
    <div class="row section-header">
        <div class="section-heading no-border">
            User Profile
        </div>
        <ng-container *ngIf="isCurrentUserAdmin && user">
            <div *ngIf="user.isActive">
                <button class="btn btn-danger" (click)="deactivate(user.id)">Deactivate User</button>
            </div>
        </ng-container>
    </div>
    <div class="row user-profile" *ngIf="user">
        <div class="col-md-4">
            <img id="user-profile-image" [src]="user.profileImagePath">
            <ng-container *ngIf="isSameUser">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group">
                        <input id="img-input" type="file" accept="image/*" #uploader class="form-control" (change)="fileChange(uploader.files)"
                            placeholder="Upload user image"/>
                            
                        <button type="button" class="btn btn-default select-img-btn" (click)="uploader.click()">Select File</button>
                    </div>  
                    <button type="submit" id="btn-profile" class="btn btn-default">Submit</button>
                      
                </form>
            </ng-container>
        </div>
        <div class="col-md-8">
            <span id="user-name">{{user.userName}}</span>
            <ng-container *ngIf="isAdmin">
                <span class="is-admin">Admin</span>
            </ng-container>
            <span id="user-rating">Current Rating: {{user.rating}}</span>
            <span id="user-email-label">Email: {{user.email}}</span>
            <span id="user-created-label">Member Since: {{user.registrationDate | date }}</span>
            <span id="user-active-label">Status:
                <ng-container *ngIf="!user.isActive; else active">
                    <span class="inactive-user">Inactive</span>
                </ng-container>
                <ng-template #active>
                    <span>Active</span>
                </ng-template>
            </span>
        </div>
    </div>
</div>