<div class="container body-content">
    <div class="row section-header">
        <div class="section-heading no-border">
            User Profile
        </div>
        <ng-container *ngIf="isCurrentUserAdmin && user">
            <div *ngIf="user.isActive">
                <button class="btn btn-danger" (click)="deactivate(user.id)">Deactivate User</button>
            </div>
        </ng-container>
    </div>
    <div class="row user-profile" *ngIf="user">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="col-md-4">
                <img id="user-profile-image" [src]="imageUrl">
                <ng-container *ngIf="isSameUser">
                        <div class="form-group">
                            <input id="img-input" type="file" accept="image/*" #uploader class="form-control"
                                   (change)="fileChange(uploader.files)"
                                placeholder="Upload user image"/>

                            <button type="button" class="btn btn-default select-img-btn" (click)="uploader.click()">Select File</button>
                        </div>
                </ng-container>
            </div>
            <div class="col-md-8">
                <span id="user-name">{{user.userName}}</span>
                <ng-container *ngIf="isAdmin">
                    <span class="is-admin">Admin</span>
                </ng-container>
                <span id="user-rating">Current Rating: {{user.rating}}</span>
                <span id="user-email-label">Email: {{user.email}}</span>
                <span id="user-created-label">Member Since: {{user.registrationDate | date }}</span>
                <span id="user-active-label">Status:
                    <ng-container *ngIf="!user.isActive; else active">
                        <span class="inactive-user">Inactive</span>
                    </ng-container>
                    <ng-template #active>
                        <span>Active</span>
                    </ng-template>
                </span>
                <span id="user-tags-label">Tags: </span>
                  <ng-multiselect-dropdown
                    *ngIf="isSameUser; else otherUser"
                    name="tag"
                    [placeholder]="'Select Tags'"
                    [data]="tags"
                    formControlName="tag"
                    [settings]="dropdownSettings">
                  </ng-multiselect-dropdown>
                <ng-template #otherUser>
                  <span> {{tagList()}}</span>
                </ng-template>
                <span id="user-description-label">Description: </span>
                <textarea
                    formControlName="description"
                    class="user-description"
                    rows="10"
                    [readonly]="!isSameUser">{{userDescription}}</textarea>
            </div>
            <button *ngIf="isSameUser" type="submit" id="btn-profile" class="btn btn-default">Submit</button>
        </form>

    </div>
</div>
